[2015-07-22 08:58] Bisa opened #1 "Crash detection"
Can we use this to detect crashes and restart the server

[2015-07-25 11:26] Bisa opened #2 "sanity check when starting server without existing save dir/file"
ensure the script gives proper feedback when attempting to start the server without an existing save file/dir

[2015-07-25 11:27] Bisa commented on #1
The factorio binary shuts down at crashes, this should be reliable enough to simply poll "service factorio status" via a cron job and start the server if it goes down.

[2015-07-25 11:27] #1 closed, assigned to Bisa

[2015-07-25 11:38] Bisa opened #3 "fail with error when missing dependancy "screen""
just fail with a proper error if the dependancy "screen" is not installed...

[2015-07-25 11:56] #3 closed, assigned to Bisa

[2015-07-29 19:27] #2 closed, assigned to Bisa

[2015-08-06 06:25] Bisa opened #4 "Incorrect exit code on status check"
The exit code when running "status" check is invalid, should return > 0 when the server is not running.

[2015-08-06 06:45] #4 closed, assigned to Bisa

[2015-08-08 08:04] Bisa opened #5 "Automate the update/install process"
Add command to untar specified tarball to update/install Factorio itself

[2015-08-08 19:58] #5 closed, assigned to Bisa

[2015-08-09 17:19] Bisa opened #6 "implement Narcs updater"
Take advantage of Narcs updater https://github.com/narc0tiq/factorio-updater allowing Factorio to update with its official update process

[2015-08-10 07:50] #6 closed, assigned to Bisa

[2015-08-17 08:34] Bisa opened #9 "handle multiple update packages"
I'll need to investigate this behaviour and implement a way to handle when the updater returns multiple patches - from forum topic http://www.factorioforums.com/forum/viewtopic.php?p=101417#p101417

[2015-08-17 08:37] Bisa opened #10 "adjust handling of exit code from binary (update)"
Factorio v 0.12.4 fixed the incorrect exit code on update errors, for completeness I want to adjust the script to use this properly.

[2015-09-06 13:31] McGuten opened #11 "Problem with Systemd"
Hi guy

I have a little problem when i use your init, i do all steps and i can use "service factorio start" but no "systemctl factorio start"

When i do systemctl show me this error:
unknown operation 'factorio'.

You know what is the problem?

Thanks you a lot ^^

[2015-09-07 07:52] Bisa commented on #11
"systemctl" and "service" cater to two different init systems, systemv and init.d

To set up systemctl you have to copy and/or modify the factorio.service.example into your own systemd unit (I guess since you already have "service factorio start" there is no need to use systemctl since they both do the same thing)

[2015-09-07 09:25] McGuten commented on #11
oh, well, Thanks you ^^

[2015-09-13 06:21] Bisa opened #12 "Binary arguments"
I have to look into adding your own custom arguments to the binary (mostly to allow for easy "manual" updates to this script)

Recent 1.12.7 introduced
--disallow-commands and --peer-to-peer

[2015-09-13 06:22] #11 closed, assigned to nobody

[2015-11-01 01:32] chaos234 opened #17 "factorio.service does not start in screen"
The factorio.service does not start the factorio server in the prefered screen session.

All was set uped over the non-root user, the root-user was used to create the symlinks and to use the systemctl cmd.

Please fix this issue so that the server can run as service in a screen session (important)!

[2015-11-01 01:39] chaos234 commented on #17
I should admit that I want to have a console instand

[2015-11-04 12:40] Bisa commented on #17
systemctl relies on the binary running a process, there is no screen involved.
Try using the sysvinit approach instead.

ie symlink the script to /etc/init.d/factorio and use "service factorio [command]"

[2015-11-04 12:40] #17 closed, assigned to nobody

[2015-11-04 14:42] chaos234 commented on #17
Ah ok, thanks for your replay :).

Am 04.11.2015 um 13:40 schrieb Bisa:

##

DeltaNet - Production
Inh. Marcel Petzold
Friedrich-Ebert-Str. 44
04416 Markkleeberg

Mobil: 01728006598
Mail: info@deltanet-production.de

StNr.: 235/256/06058
UStNr.: DE272999582

[2015-11-25 18:41] #12 closed, assigned to Bisa

[2015-11-25 18:42] Bisa commented on #9
resolved by updating factorio-updater

[2015-11-25 18:47] Bisa commented on #10
leaving "as is" to not mess with backwards compatibility

[2015-11-25 18:47] #10 closed, assigned to Bisa

[2015-12-02 03:12] HellUnit opened #21 "Does Not Apply Multiple Updates"
Recently, I attempted to upgrade from 0.12.12 to 0.12.19 and the script only applies the first update file even though it downloaded all the update files necessary to update to the latest version. The workaround for this is to run 'service factorio update' until it reaches the latest version. This is inefficient since it repeatedly downloads all the files for update every time it is run.

EDIT: Ju

[2015-12-02 08:05] HellUnit commented on #21
Confirmed fixed. Non-issue.

[2015-12-02 08:05] #21 closed, assigned to nobody

[2016-03-07 15:20] Hackmodford opened #22 "Update without user and token?"
Is there a way to auto update without a user and token?

It appears that the latest version of the script supports it.
https://github.com/narc0tiq/factorio-updater/issues/1

[2016-03-07 15:33] Hackmodford commented on #22
I got it working. I will create a pull request to reflect the new changes.

[2016-03-07 15:41] Hackmodford commented on #22
I created my pull request.
https://github.com/Bisa/factorio-init/pull/23

[2016-03-07 15:41] #22 closed, assigned to nobody

[2016-03-08 20:04] Bisa commented on #9
either this broke (doubt it) or I somehow missed that this was not resolved

[2016-03-08 21:03] #9 closed, assigned to Bisa

[2016-03-08 21:04] Bisa commented on #10
decided to screw backwards compatibility, latest version now uses the exit code alone

[2016-03-15 20:43] Bisa opened #29 "Log retention"
Factorio as it is today stores 2 logs, one "current"  and a previous log.

I've been wanting to add a feature that would rotate/retain logs on a server graceful shutdown to store more than 2 restarts' worth of logs.

[2016-03-15 21:01] bluecube commented on #29
Some support for this in init scripts sounds interesting, but don't you think that something like logrotate would be better for larger / more permanent servers?

[2016-03-16 17:26] Bisa commented on #29
fair point, I guess I didn't look into logrotate enough to know that it could detect a server restart to save the logs before factorio overwrites them - or am I missing something?

(ps, awesome game - keep up the good work)

[2016-03-16 17:31] Bisa commented on #29
Actually:

[code]

This would not help if Factorio was restarted say once every day on a schedule (not that it would need to since the game is remarkably stable)...

I'm not sure how I would solve ths, I've been thinking it'd be nice with some more retention other than just the current and previous logs but thinking about it I find loop holes in my initial idea; What if the server is restarted 5 t

[2016-03-16 17:53] bluecube commented on #29
You're right. But we (I'm a dev :-) )  could add a commandline flag to Factorio so that doesn't rotate logs automatically. That would help, right? The rest of the job would then be up to logrotate.

[2016-03-16 17:55] Bisa commented on #29
that would simplify things for sure, then logrotate would make a lot more sense yes

[2016-03-18 13:02] xenadmin opened #30 "Failed to start, aborting."
Hello,
today I tried your script on Ubuntu 14.04.4 LTS but without success. I always get the error, leaving open processes:
`root@mc:/opt/factorio# service factorio start`
`Still not running, waiting a while longer...`
`Failed to start, aborting.`
`root@mc:/opt/factorio# ps -Af | grep fac`
`factorio 31747     1  0 13:56 ?        00:00:00 SCREEN -dmS factorio /opt/factorio/bin/x64/factorio --start-

[2016-03-18 13:17] xenadmin commented on #30
The debug Says, it can't find the PID, but I'm not sure why it doesn't get created.

The file permissions are ok, the user can create the file itself.

[2016-03-18 13:46] xenadmin commented on #30
Forget it, it was my fault. I changed the service name in the config, that broke your script.

`# What do you want to call this service?`
`SERVICE_NAME="factorio"`

Perhaps you should add a note to this section. Your current statement suggested me that its safe to switch this value, but I assume the name is hard coded in the init script?

[2016-03-18 14:07] Bisa commented on #30
My intention is for the configuration to be configurable, thx for reporting
this - I'll have a look at it tonight
On 18 Mar 2016 14:46, "Marco Hofmann" notifications@github.com wrote:

[2016-03-18 15:17] Bisa commented on #30
@ZomboBrain
(did you get the latest commit from master?)

The function find_pid() might not be working correctly, as seen on [L99](https://github.com/Bisa/factorio-init/blob/master/factorio#L99) It uses the SCREEN_NAME variable, have you overwritten the screen name at some point?
    pid=$(ps ax | grep -v grep | grep "${BINARY} --start-server ${SAVE_NAME}" | grep -v "${SCREEN_NAME}" | awk '{ print

[2016-03-18 16:14] #30 closed, assigned to nobody

[2016-03-18 16:21] Bisa opened #32 "Start multiple instances with the same binary"
I'll look into starting the server with separate --config options to allow multiple instances to run from the same binary

[2016-03-21 23:45] ShaneMcC opened #33 "`/etc/init.d/factorio update` stops the server prematurely"
`/etc/init.d/factorio update` stops the server as one of the first things it does, even in `--dry-run` mode.

If running in `--dry-run`, or there are no updates, there is no real need to stop the server.

[2016-03-22 16:35] #33 closed, assigned to nobody

[2016-03-22 20:01] ShaneMcC opened #35 "Factorio update fails if jumping multiple versions"
[code]

[2016-03-22 20:58] #35 closed, assigned to nobody

[2016-03-23 19:40] Bisa opened #37 "find_pid broken"

[2016-03-23 19:41] #37 closed, assigned to nobody

[2016-03-23 19:42] Bisa commented on #37
silly me, adding the config option broke my find_pid method and I'm not supposed to script while tired

[2016-03-24 11:39] xenadmin commented on #30
Today I have time to test this.
What would be the right way to update the git clone? I'm no expert here. Normallay I would delete the folder and just clone again ^^"

[2016-03-24 12:43] Bisa commented on #30
I've built this so that you should ideally just have to do a git pull (if you are on the master branch) to get the latest and greatest, any config options that are required but missing will be screaming out loud first time you try to run the script (not that smooth I confess but meh ;)

so, in this case:
git pull
check the config.example if I've added anything that concerns you and update your own

[2016-03-24 12:45] ryo-n opened #39 "symlink is correctly working?"
Thanks for creating nice script.

I think that I have to create actual file instead of symlink so that run `systemctl enable factorio.service`

It is the correct command?
`cp /opt/factorio-init/factorio.service /etc/systemd/system/factorio.service`

[2016-03-24 12:50] Bisa commented on #39
Looks correct to me, at least if you are on Centos 7 (that's what Im using)

That said tho; Symlinks works fine for me, but a copy would work equally well - at least in terms of functionality (the symlink is a convenience factor in my case)

[2016-03-24 12:53] ryo-n commented on #39
Thank you for quick response.
Yes I am using CentOS7. I will check my server configuration.

[2016-03-24 12:53] #39 closed, assigned to nobody

[2016-03-24 13:01] xenadmin commented on #30
I think I just act stupid -.-

Ah sorry you need english.

EDIT:
Found my mistake:

[2016-03-24 13:04] ryo-n commented on #39
FYI
I needed to run the following command.
`systemctl -f enable /opt/factorio-init/factorio.service`
And I have added factorio.service into boot run service.

thanks.

[2016-03-24 13:44] Bisa commented on #30
aye, git commands need to be executed within the factorio-init or "git project/repository directory" - did this solve your issue?

[2016-03-24 14:07] xenadmin opened #40 "Save on stop?"
Hello,
I updated my Server from 0.12.28 to 0.12.29 via your script. Now it seem like I have lost 3-5 minutes gameplay time (no desaster). I know all players should disable auto save and the server does the auto save. I set this to 3 minutes. When the last server-auto-save is a few minutes ago and all player quit, does it ever do an auto save again? I then did stop the server and started the update

[2016-03-24 18:17] Bisa commented on #40
I use the same stop method for all stop activity, unless something changed in factorio itself it should save when receiving a stop signal (kill in this case) - you should be able to test this out by using "factorio stop" between two autosaves and verifying the results - if you find anything, please report back :)

[2016-03-24 18:23] chrisvdwerf opened #41 "Permission error"
Hello,

I'm getting the following message when doing "service factorio start":
"Check Permissions. Cannot Write to /opt/factorio-init/Factorio.pid. Correct the permission and then execute /etc/init.d/factorio status"
I've done chmod 777 and have tried different groups with chown and using -R for the files inside (since I can't go in the directory because it isn't one (?)).

I'm still fairly new to

[2016-03-24 19:30] Bisa commented on #41
which user are you running factorio as? (I'm going to assume "factorio")

in your case, try this:

[code]

This will make the user factorio owner of the /opt/factorio-init directory, it will also assign the group factorio - and set permissions on the directory that allows the owner/group to enter the dir and read/write inside it.

[2016-03-24 19:51] chrisvdwerf commented on #41
The directory itself and all the files inside it belong to me using chown. (they used to be root). AND I've given write, read and execute permissions on all files using chmod. I'm still getting the same error.

 I forget to mention it, but I do get the error: 'no passwd entry for user 'factorio' ' twice and an error about a save directory missing.

Thanks for answering!

[2016-03-24 19:59] Bisa commented on #41
I'm not entirely sure what you've done but the no passw error seems to suggest you are trying to use a user that does not exist - have you added the user you are trying to use?

[2016-03-24 21:39] chrisvdwerf commented on #41
It's the user I created when I installed ubuntu server. So seems to me like a real user. (The naming before the command placement and showing the permissions with ls -l)  But this error only occurs when trying to 'service factorio start', it doesn't occur with commands like accessing files from the user or any other commands/commands from your init script.

This is the output i'm getting with  'se

[2016-03-24 21:46] Bisa commented on #41
what user are you running as now? (ie which user are you logged in as?)
if you are not logged in as "factorio"
try this:
~~su -u factorio 'touch /opt/factorio-init/factorio/Factorio.pid'~~

(also try hitting me up on irq.esper.net I'm "Bisa" currently hanging out in the factorio channel)

[2016-03-24 22:06] Bisa commented on #41
my bad!

su factorio -c 'touch /opt/factorio-init/factorio/Factorio.pid'

[2016-03-24 23:42] Bisa commented on #41
Was solved via irc, mainly by following this guide:
https://wiki.factorio.com/index.php?title=Multiplayer#Linux

[2016-03-24 23:42] #41 closed, assigned to nobody

[2016-03-25 23:36] Bisa opened #43 "Installation"
I'm thinking of enhancing the installation process by using the freely provided headless tar package.

Options like "clean install" or "force update latest version" spring to mind, but without a readily accessible link to the "latest" version I'm not going to mess around with this - if you're watching this, feel free to show some love in https://forums.factorio.com/viewtopic.php?f=6&t=22210 to sup

[2016-04-03 00:06] jkroepke opened #44 "Add proxy support"
Hi,

my server need a proxy for outgoing http request. Do you can add a proxy parameter?

Cheers!

[2016-04-03 00:52] Bisa commented on #44
I'm sorry, where do you want what? (preferably make a pull request)

[2016-04-05 18:05] maritaria opened #45 "Service cannot be started if config/config.ini is not present"
This one stumped me for a while, basically I hadn't run the factorio server before and it hadn't generated the default config yet.
If the server is started with --config PATH then that config _must_ exist otherwise it creates an error. That error by the way isnt getting shown because it's created in the screen.

Best to check if the config exists, if not warn the user who is executing the script a

[2016-04-05 18:51] Bisa commented on #45
Thank you, good catch

[2016-04-05 19:09] #45 closed, assigned to nobody

[2016-04-06 14:03] jkroepke commented on #44
Hi!

Sorry I got the wrong GitHub Repo.

Sorry about the confusion

[2016-04-06 14:03] #44 closed, assigned to nobody

[2016-04-08 19:25] mojo2012 opened #47 "init script not working when EXTRA_BINARGS contains a whitespace at the end"
I had to remove the "peer to peer" flag to make the server work for more than two players.
But I forgot a trailing whitespace - and suddenly the script didn't work anymore.
Even in the debug mode I spent an hour to find out that the whitespace was the mistake.
So could you add a comment there - and maybe remove the peer to peer flag also?

[2016-04-10 19:31] xenadmin opened #48 "Experimental"
I use the python script to update the server. I found code in your script to download the experimental version too, but now how to invoke the update for experimental.

[2016-04-11 19:17] Bisa commented on #48
Sorry, I can't quite understand what you want to achieve, please elaborate?

[2016-04-11 19:19] Bisa commented on #47
Hi, thank you - so leaving the extra bin args option blank causes this behavior, odd, I was never expecting anyone to run a server without extra args any way but I'll have a look at it =)

[2016-04-11 21:11] mojo2012 commented on #47
Well, it was not without args, just without the "peer-to-peer" flag. It was one flag with a space at the end, that caused the error.

[2016-04-12 16:28] Bisa commented on #40
Turns out this was a bug in 0.12.30
https://forums.factorio.com/viewtopic.php?f=30&t=23342

[2016-04-12 16:28] #40 closed, assigned to nobody

[2016-04-12 16:48] abauske opened #50 "Factorio.pid"
I'm sorry that I have to create that new issue but googling didn't lead to a solution, therefor I'm guessing this is a bug. I get this error when trying `service factorio start`

[code]

in my factorio folder there is no Factorio.pid file! Is this file supposed to be generated? Or am I supposed to copy this file from somewhere else?
System info: Debian headless server

[2016-04-12 17:14] Bisa commented on #47
Confirmed, adding a whitespace at the end breaks stuff, but Im not really sure of a "nice" way to resolve it - after all, trailing whitespaces arnt really meant to be part of options.. for now I'll back off, if you have a cool idea how to fix this or verify it in some way please drop me a pull request =)

[2016-04-12 17:14] #47 closed, assigned to nobody

[2016-04-12 17:17] Bisa commented on #50
Check the permissions of you /opt/factorio folder (ensure the user has write permissions there)
Also have a look further down, the binary does not seem to be able to access any saves in /opt/factorio/saves

[2016-04-12 19:08] mojo2012 commented on #47
Well, for now you could just add a comment ;-)

[2016-04-13 15:26] abauske commented on #50
I'm sorry it doesn't work for me!
Contents of the folders including permissions:
/opt/factorio:

[code]

/opt/factorio/saves:

[code]

factorio in /opt has rwxrwxrwx

Don't you worry I changed the permissions of folders factorio saves and contents of saves to rwxrwxrwx only for testing purposes but it didn't work either! Is there anything else I can try?

[2016-04-13 16:04] abauske commented on #50
I'm so very sorry for wasting your time!
I actually overlooked the ownership of /opt, well that was the problem!
Thanks a lot for this tool!

[2016-04-13 16:04] #50 closed, assigned to nobody

[2016-04-14 00:22] chaos234 opened #51 "Factorio false INVOCATION - no "--port" option"
There is a big bug in your script because there is no option with "--port" for yout invocation.
Please remove it (v. 0.12.30)

[2016-04-15 22:05] Bisa commented on #51
hmm, odd - let me have a look

[2016-04-15 22:10] Bisa commented on #51
The only references made to --port are done in the config.example and factorio.service.example if you do not want to use the port in them you simply remove them yourself =)

[2016-04-15 22:10] #51 closed, assigned to nobody

[2016-04-15 22:12] Bisa commented on #48
hmm, I presume you found the config option EXPERIMENTAL= in config.example, if not please reopen the issue and explain what you were trying to achieve =)

[2016-04-15 22:12] #48 closed, assigned to nobody

[2016-04-19 22:43] poettler-ric commented on #43
Hi,

today I've been working on a spec file to create a Factorio headless server rpm package (works on F23, will test it on CentOS 7 as soon as I have time). Maybe this could be an option for your installation issues? It doesn't automatically fetch/package the latest version, tough.

Kind regards

[2016-04-20 06:44] Bisa commented on #43
Sure sounds interesting @poettler-ric =)

[2016-04-20 07:14] poettler-ric commented on #43
Sorry, I completely forgot the link: https://github.com/poettler-ric/fedora-spec/tree/master/factorio-server

[2016-04-24 20:55] innominata opened #52 "Lots of errors on ubuntu 15.10 server. Not sure if I'm a noob or if its incompatible with something."
Factorio launches in the background, but factorio-init doesn't recognise it. To stop it I have to 'killall factorio'. Is it an issue with ubuntu or me?

[code]

[2016-04-26 15:58] Bisa commented on #52
not sure, try pulling from master and re-check the config.example to make sure you did not miss any options

[2016-04-26 17:20] appellation opened #53 "EXTRA_BINARGS are forced"
Attempting to start a Factorio server on Ubuntu 14.04.3 without `EXTRA_BINARGS` doesn't seem to work.  I tried both using an empty string and removing it from `INVOCATION`, neither of which worked.
## Debug log when `EXTRA_BINARGS` is an empty string

[code]
## Debug log when removed from `INVOCATION`

[code]

This output continued for a while before it quit.

[2016-04-29 01:52] kwlockwo commented on #43
Not sure if it is relavent here, or may be changing, but the ./factorio install "factorio.tar.gz" currently gives an error which doesn't make much sense. The error is:

`Could not find factorio config file: /opt/factorio/config/config.ini
If this is the first time you run this script; You might need to generate the config.ini
by running: sudo -u factorio /opt/factorio/bin/x64/factorio --start-serv

[2016-05-01 11:13] kwlockwo opened #54 "Enhancement - More options."
I have added more options to the script which I though were missing.
- new-game: creates a new blank map
- save-game: save the current "factorio-init-save" with the given name.
- list-saves:  List all the saves in the saves folder.  Can be used for input for load-save.

I've attached my script, you could probably do these a little better.

[factorio.zip](https://github.com/Bisa/factorio-init/files

[2016-05-01 12:55] Bisa commented on #53
Thank you, I'll see what I can do to remove the restriction

[2016-05-01 12:56] Bisa commented on #52
closing this for now, please see possible relation/fix to #53

[2016-05-01 12:56] #52 closed, assigned to nobody

[2016-05-01 12:58] Bisa commented on #54
Hi, nice of you to share - it would be awesome if you wanted to add these to a pull request? =)

[2016-05-01 13:59] Bisa commented on #53
@appellation I'm unable to reproduce this with a fresh install of the latest pull from master (I removed the EXTRA_BINARGS from my INVOCATION)
- however, looking at your output it seems your find_pid() returns multiple pids, I'm guessing you have multiple server instances running on the same binary or something?

[2016-05-01 16:20] kwlockwo commented on #54
Ok, let me try and sort that out.

[2016-05-01 16:23] Bisa commented on #54
just a heads up, I'm working on a few fixes in branch issue/#53 so if you want to you can base your pull on that one

[2016-05-01 16:30] Bisa commented on #53
I've figured out the WHY, now I just need to find a solution.

The find_pid is incorrectly looking for a whitespace at the end of the output from ps, I might make a pragmatic fix or I might find a neat way to solve it, stay tuned :8ball:

[2016-05-01 16:39] Bisa commented on #54
cheers, let me know if you need any assistance or what-not =)

[2016-05-01 16:41] Bisa commented on #53
hm, I got the auto-closing messed up but this is fixed in above mentioned commit so try to pull the latest master and try again =)

[2016-05-01 16:41] #53 closed, assigned to Bisa

[2016-05-01 17:36] Bisa commented on #43
I'll be revisiting the install section to correct this eventually, at the moment I'm still waiting for something like this tho https://forums.factorio.com/viewtopic.php?f=6&t=22210

[2016-05-01 23:10] kwlockwo commented on #54
Done,

[2016-05-02 16:32] Bisa commented on #54
noticed, but looked a bit odd - your PR would have reverted a lot of my changes from yesterday, (try merging my master into your branch and only push the changes you made)

[2016-05-02 20:53] kwlockwo commented on #54
Yeah wondered about that.  I uploaded my file that was a old one.  Let me make changes to your latest version of the script.

[2016-05-02 20:57] Bisa commented on #54
:+1:

[2016-05-02 21:33] appellation commented on #53
It seems to have been fixed.  Thanks for the fix!

[2016-05-02 23:28] drakar opened #57 "factorio.service for upstart"
Any chance you could enhance the service page and readme to include instructions for upstart users?

Please :+1:

[2016-05-03 15:04] kwlockwo commented on #54
Ok, I think i've done it now.

[2016-05-03 16:14] Bisa commented on #57
Hi @drakar - I never personally used upstart hence I'm not confident in writing any instructions for it, however if you could provide me with a working example (perhaps in a pull request to the readme file itself I'll be happy to try it out and merge it in if it works)

[2016-05-03 16:17] drakar commented on #57
I'm not familiar with it either but if I get it working in Ubuntu 14 LTS I'll send the request.

[2016-05-03 16:17] Bisa commented on #54
still odd, sorry if I'm coming of as ungrateful, really appreciate the effort! =)

3rd times the charm? Try branching off my master and apply your changes then pull request back to my master

[2016-05-03 16:18] Bisa commented on #57
cheers, thank you! =)

(leaving the issue open in case anyone else is interested till we get it merged)

[2016-05-03 22:08] kwlockwo commented on #54
Yes, I did from the issue#53 branch.  I'll do it from master this time.

On Wed, May 4, 2016 at 2:17 AM, Tobias Bisa Wallin <notifications@github.com

[2016-05-04 20:42] Bisa commented on #54
Thnx =) I removed the usage of FACTORIO_PATH and got rid of the list saves command (ls and find are both excellent utils and can take way more parameters than we can support in this script)

[2016-05-04 20:42] #54 closed, assigned to nobody

[2016-05-04 20:53] Bisa commented on #57
Looks simple enough: http://upstart.ubuntu.com/getting-started.html

basically add a pre-start refreshing the saves and source the config, followed by a invocation on the binary

I don't have upstart ready to test this so if you want to give it a shot feel free to do so =)

[2016-05-04 21:09] drakar commented on #57
I'll test it out for sure!

[2016-05-17 15:01] Jesavino opened #60 "Add Support for --headless"
Currently, if you add the --headless flag, the check to see if the PID is running does not successfully return. I'm posting this to possibly plan to pull and fix in the next couple weeks, but I want to make sure it is actually an issue and I'm not just missing anything.

[2016-05-26 09:40] Bisa commented on #29
hey @bluecube - did you add this to your todo list internally? (I know u guys are super busy with 0.13 and I wouldn't request it to be added sooner than when you feel you have the time to prioritize it just giving you a poke to ensure it's not forgotten ;)

[2016-05-26 09:47] Bisa commented on #60
I'm trying to figure out your use case here; are you adding --headless to the extra bin args config option?
I noticed the headless binary does not have an option called '--headless', perhaps this is a corner case that arose due to the fact that I assumed all servers were running the headless binary any way =)

[2016-06-01 09:59] bluecube commented on #29
Hi, thanks for reminding me, I almost forgot :-). The change is ready and will be part of the 0.13.0 release.

[2016-06-05 09:32] Bisa commented on #60
Feel free to reopen this if you still have a problem =)

[2016-06-05 09:32] #60 closed, assigned to nobody

[2016-06-05 09:33] Bisa commented on #29
Sweet, good luck with the finishing touches on 0.13 - u guys are doing an awesome job, keep it up =)

[2016-06-05 09:33] #29 closed, assigned to Bisa

[2016-06-05 10:31] Bisa opened #62 "Simplification"
I'm having second thoughts on parts of this script.

This issue serves to look at:
- simplifying configuration
- simplifying usage
- generally reviewing the script to make it "simple"

[2016-06-28 00:34] Bisa commented on #32
Trying to cut down on features, to keep it simple

[2016-06-28 00:34] #32 closed, assigned to Bisa

[2016-06-28 00:35] Bisa commented on #57
I'm cutting down on complexity for this repo, feel free to add install instructions for other service managers to the wiki =)

[2016-06-28 00:35] #57 closed, assigned to nobody

[2016-06-28 00:37] Bisa opened #65 "act on chat commands?"
with 0.13 introducing logged chat it's possible to parse and act on chat commands

[2016-06-28 17:51] petrvecera opened #66 "Why abandon systemd?"
Why the systemd was abandoned? I think it was good and also the output from it was quite nice.

Now status is only -  Factorio is running, nothing more. :-1:

Also it's no longer running as service ?

[2016-06-28 20:00] Bisa commented on #66
you can run it as a sysv service if you want to, that was the original idea ;)

I was not able to get my own systemd unit file to work hence I was not confident in keeping it here, if you manage to get it working please throw me a pull request and some instructions to make it simple.

(I will look at adding it again, just not at the moment)

[2016-07-06 13:48] Bisa commented on #66
check the development branch, I've added new example units and improved the robustness of figuring out pids a bit - this will definitely go into master down the line hence this ticket isn't really applicable anymore - yay me ;)

[2016-07-06 13:48] #66 closed, assigned to nobody

[2016-07-07 08:51] petrvecera commented on #66
Excellent job! :+1:  Will test once I got home :)

[2016-07-08 17:57] xenadmin opened #68 "server-settings.json missing"
`root@mc:/opt# service factorio update`
`Could not find factorio server settings file: /opt/factorio/data/server-settings.json`
`Update your config and point SERVER_SETTINGS to a modified version of data/server-settings.example.json`

I just revived my old Factorio 0.12.30 headless server to update it to 0.13.x
To make things easy, I first updated your init-script (git pull) and then tried to upda

[2016-07-08 18:10] xenadmin commented on #68
My bad, found all information here:
https://wiki.factorio.com/index.php?title=Multiplayer#How_to_List_Your_Server-Hosted_Game_on_the_Matching_Server

[2016-07-08 18:10] #68 closed, assigned to nobody

[2016-07-08 18:12] xenadmin opened #69 "service factorio screen"
I used the "service factorio screen" command very often, to see whats going on. You seem to have removed it. Whats the new way to reach the console output?

[2016-07-09 02:11] Bisa commented on #69
try `tail -f /opt/factorio/factorio-current.log`

I'm aware that screen could be used to monitor the servers log but still took the decision to remove it in favor of the pipe input redirection, the exact determination of factorios process id and linux's `tail`

[2016-07-10 14:46] Rhodderz opened #70 "Odd unhelpful error"
Hi, sorry to open this as an issue but got an odd error.
I tried to get the server running via your script and hit a few bumps along the way but currently cant get past this one.
 Unit factorio.service has begun starting up.
Jul 10 17:16:34 RMMD-MC-1 factorio[13734]: DEBUG: Determining WRITE_DIR based on /opt/factorio/config/config.ini, IF you edited write-data from the default, this probably fail

[2016-07-10 20:55] xenadmin commented on #69
I just overlooked this file "factorio-current.log" ^^
Was it also there with 0.12.x ?
Does "factorio-current.log" show exactly the same, as if I would run factorio binary from shell without your script? If so, than that's all I need.

[2016-07-10 22:02] Bisa commented on #69
not sure, I think chat/commands are not logged there Im afraid, please do some experimentation =)

[2016-07-10 22:05] Bisa commented on #70
hmm, beats me I'm afraid - you say starting with the same $INVOCATION currently works?

[2016-07-12 18:15] #69 closed, assigned to nobody

[2016-07-12 18:17] Bisa commented on #70
hit me up on irc esper.net, Im usually around #factorio - or just leave this closed if you resolved the issue on your own (but please post the solution for others to benefit from if possible)

[2016-07-12 18:17] #70 closed, assigned to nobody

[2016-07-12 20:26] Bisa commented on #65
this kinda requires acting on events, something better left for a log parser (I'll add it to my own eventually)

[2016-07-12 20:26] #65 closed, assigned to nobody

[2016-07-12 20:27] Bisa commented on #62
with the refactoring/reworking done in tag 2.0.0 I no longer feel the need to simplify things further

[2016-07-12 20:27] #62 closed, assigned to Bisa

[2016-07-13 00:05] Bisa opened #73 "chatting from console"
while chatting from the console is perfectly doable - I have not been able to avoid input and output mixing toghter and becoming garbled. Essentially this feels like a limitation of using a terminal for both input and output.

I'll just stick this here for now and use tail on the output file

[2016-07-13 00:35] #73 closed, assigned to nobody

[2016-08-26 15:51] NochEinKamel opened #79 "--latency-ms not longer supported in factorio 0.14 experimental"
Launching the new experimental 0.14 with the script no longer works as it uses a no longer supported command line option which needs to be removed from the INVOCATION variable.

[code]

(And thanks for the script, really helps running a server!)

[2016-08-26 17:30] KenjiE20 opened #80 "update sorts updates incorrectly"
When applying updates, update does not numerically sort version numbers;

[code]

[2016-08-27 07:10] Bisa commented on #79
Thank you for the report, I'll have it removd

[2016-08-27 07:13] Bisa commented on #80
Thank you for the report, I'll see what I can do.

[2016-08-27 08:02] #80 closed, assigned to nobody

[2016-08-27 08:08] Bisa commented on #80
@KenjiE20 please note that updating version 0.13.12 to 0.13.13 of factorio headless is broken, meaning you will not be able to apply that update - you need to download the latest headless version and go from there either by manually overwriting the files you need or perform a clean install

[2016-08-27 09:13] Bisa commented on #79
fixed in commit 8e2cc53d55c6e0db7bb53484fc21fc820efe4c4c

[2016-08-27 09:13] #79 closed, assigned to nobody

[2016-09-12 21:02] ghost opened #84 "`tail` is not terminated when service exits due to a failed start"
I just updated to the latest master (as of time of writing) and am tinkering with a few things in the invocation. I've noticed that the `tail` command is not terminated along with the Factorio server when the server terminates abnormally (eg: missing save file).

I'm unsure if this appears in other situations, but this is where I've observed it.

[code]

You can see that the server is not started

[2016-09-13 17:33] Bisa commented on #84
good catch, I'm not sure on the top of my head how to tackle this but I'll give it a think - thnx for reporting this

[2016-09-13 18:22] ghost commented on #84
Just confirmed that `tail` also doesn't quit when the Factorio server stops after starting normally, so it's not just when the server fails to start.

[2016-09-15 19:37] #84 closed, assigned to Bisa

[2016-09-30 19:40] StuartJSquires opened #86 "0.14.12 Settings Changes Break Start Script"
Running `factorio-init/factorio start` with 0.14.12 experimental version gave me this error:

[code]

I ran `factorio-init/factorio invocation' and saw that the script was trying to run this command:

[code]

Reading the [changelog](https://forums.factorio.com/viewtopic.php?f=3&t=33591) for 0.14.12, I saw that the `autosave-interval` and `autosave-slots` (as well as `allow_commands`, `afk_autokick

[2016-09-30 20:07] StuartJSquires commented on #86
[This](https://github.com/Bisa/factorio-init/pull/87) pull request fixes the issue.

[2016-09-30 20:28] mcgoff360 opened #88 "new server update"
hello,

the latest server update changed the way that the headless server needs to be initialized. specifically some of the -- commands are pulled from the server-config file instead of through the command line. i just deleted the lines in the init script and it worked fine but people will not be able to launch without removing them

[2016-09-30 20:28] #88 closed, assigned to nobody

[2016-10-02 07:50] DRY411S opened #91 "Alternative for systemd"
I was able to follow your install instructions perfectly on a CentOS 7 box, but am now trying it on an Amazon Web Services LMI instance.

This does not have systemd, and so this step in your Readme does not work.

Can you advise of alternatives please, or does your script rely on systemd?

[2016-10-02 15:20] Xiretza commented on #91
I guess just running the script normally doesn't work (i.e. `/opt/factorio-init/factorio start`)?

[2016-10-02 15:34] DRY411S commented on #91
It wasn't, which is why I posted this. But I'm using 0.14.12 on AWS and the script is broken.  (I was using 0.13 stable on CentOS).

Applying the fixes from issue #87  means that the script works. I also changed the SERVICE_NAME in the config file to lose the upper case 'F'. (i.e the 'service' is the name of the executable). I don't know whether case sensitivity is an issue.

Amazon Web Services o

[2016-10-02 15:34] #91 closed, assigned to nobody

[2016-11-05 17:49] jsavko opened #93 "0.14.19 Settings Changes Break Start Script"
It looks like the moved several more of the command line args have been moved into the json.  Once again causing the script to fail to load.

It looks to be the auto save frequency and slots

[2016-11-05 17:55] Xiretza commented on #93
There are already 3 pull requests open to move those to the json.

[2016-11-05 17:56] jsavko commented on #93
I noticed it right after I updated the issue. Was about to make one myself, but figured I should check the open ones first.

[2016-11-05 18:44] #86 closed, assigned to nobody

[2016-11-05 19:03] Bisa commented on #93
looks like all the pull requests have fixed this, I was able to get the script to start a 0.14.19 server just now - thnx for reporting these and kudos to all the nice ppl pushing the fixes this way

[2016-11-05 19:03] #93 closed, assigned to Bisa

[2016-11-22 21:57] tiagoadp opened #94 "Permission?"
I installed the headless server from factorio, followed the guide, and it runs smoothly, added user factorio:factorio and chowned the folder to factorio:factorio

it works quite good... but when i try to start via the factorio-init, it gives this:

DEBUG: Determining WRITE_DIR based on /root/factorio/config/config.ini, IF you edited write-data from the default, this probably fails
DEBUG: write pat

[2016-11-22 22:04] Xiretza commented on #94
Some paths are apparently not correct, since your factorio folder is in `/root`. Obviously user "factorio" can't write to (or even read from) anything under `/root`.

[2016-11-22 22:21] tiagoadp commented on #94
HOHOHO rigth i have noobs like me... LOL

Just moved the folder and the contents, chowed again to factorio:factorio! its working as espected, tnx for your time ppl! really nice work!

[2016-11-22 22:21] #94 closed, assigned to nobody

[2017-01-11 14:49] ghost opened #95 "Failed to connect to bus: No such file or directory"
I get this message everytime I try to start the server with the service command. Any idea why this is happening?

After running "sudo  systemctl list-units -t service --all" this is listed among other entries:
  factorio.service                      loaded    activating auto-restart

When I try to run that without sudo I get the same error.

I think I figured it out: I tried to start the service a

[2017-01-11 15:37] ghost commented on #95
So, I fixed the Failed to connect to bus part...... and now if i run "service factorio status" I get this:
Jan 11 10:35:28 srv44160 systemd[1]: factorio.service: Unit entered failed state.
Jan 11 10:35:28 srv44160 systemd[1]: factorio.service: Failed with result 'exit-code'.

Edit(again):
And again I found the problem: The server-settings file is corupted and needs to replaced.

Now this has becom

[2017-01-11 15:47] #95 closed, assigned to nobody

[2017-01-11 17:37] Bisa commented on #95
oh, glad you found a resolution =)

[2017-01-11 17:56] ghost commented on #95
I am new to linux but I learned something new so it worked out fine.

[2017-02-24 15:18] Blauschirm opened #97 "Map generation"
Hey!
I really like your service thanks for it!

I can't really succeed in using the new-game command. How exactly do I use the map-gen-settings.json with it?

Commands like these don't through errors, but aren't using the map-gen-settings either:
new-game test --map-gen-settings data/map-gen-settings.json
new-game test data/map-gen-settings.json

[2017-03-02 21:46] Bisa commented on #97
hmm, not sure the script allows any other arguments than the ones defined in it - this would have to be added as a feature

[2017-03-09 13:30] nihilim opened #99 "send_cmd dependent functions hang when not executed as root or factorio-user."
issuing `service factorio players` will hang without termination when not ran as root or factorio user.

I believe a root/factorio-user check should be placed at the beginning.
Alas, my bash-fu is not that brilliant to be able to contribute it myself :(

[2017-03-09 13:34] Bisa commented on #99
sounds like a good idea, let me see what I can come up with

[2017-03-09 14:18] Bisa commented on #99
@nihilim could you give the development branch a spin to see if this resolved the issue for you?

[2017-03-12 22:09] timakro opened #100 "Stopping server started using Systemd results in timeout"
When starting and stopping the server using the Systemd service the stopping action takes the 20 seconds timeout. I tried starting the server using the Systemd service and stopping it using the script directly, this is what I get:

[code]

After this the script doesn't return, I need to terminate it using CTRL+C. I tried using a variable to store the data in the pidfile in `stop_service()` instead

[2017-03-13 10:29] Xiretza commented on #100
Did you change your PIDFile directive in the systemd unit? The default location is `/opt/factorio/server.pid`, which is not what your WRITE_DIR is (`/home/tim/factorio/factorio`).

[2017-03-13 11:53] timakro commented on #100
Yes, I changed it to `/home/tim/factorio/factorio/server.pid`.

[2017-03-13 12:01] Xiretza commented on #100
Assuming your systemd service runs as `User=factorio`, does your `factorio` user have permission to write to `/home/tim/factorio/factorio/`? Does the PIDFile get created at all?

[2017-03-13 12:05] timakro commented on #100
It runs as the user `tim` and has permissions, `/home/tim/factorio/factorio/server.pid` is created.

My config file:
[code]

My Systemd service file:
[code]

[2017-03-14 13:10] Bisa commented on #100
Hi @timakro  (and thank you @Xiretza for your help, much appreciated!)

First, did you you modify the script in any way tim and are you running the latest commit from master? Also, please enable DEBUG=1 and see if that gives us any more clues as to what it is trying to do.

[2017-03-14 13:27] #99 closed, assigned to nobody

[2017-03-14 13:59] Bisa commented on #100
I think I've figured out what the problem is - I could simply tell you to stick to either systemd or sysv and not mix the two but then I'd not be able to sleep at night ;)

When you stop the service using the script directly after first telling systemd to keep track of it systemd will actually clean up the pidfile once the process exits cleanly - in the scripts shutdown loop however I'm not sanity

[2017-03-14 15:08] Bisa commented on #97
Actually, this was already implemented in #89 @Blauschirm, silly me for not noticing this earlier ;)

[2017-03-14 15:08] #97 closed, assigned to nobody

[2017-03-14 15:25] timakro commented on #100
Thanks a lot for your help! Starting the server using Systemd and stopping it using the script directly (or installing it in SysVinit) works now, the error and the hanging terminal are gone. Although I still get the timeout when starting and stopping the server using Systemd, no idea what might cause this though.

After stopping the server using Systemd and waiting for the 20 second timeout `syste

[2017-03-14 17:42] Bisa commented on #100
give this one a shot will you @timakro - I've tried various setups including stopping and starting alternating between sysv and systemd, #thisshouldsolveeverything ;)

[2017-03-14 18:02] timakro commented on #100
Indeed, #thishassolvedeverything! Thanks again!

[2017-03-14 18:02] #100 closed, assigned to Bisa

[2017-03-15 14:03] Nerdodactylus opened #104 "Change Savegame / new Game"
Maybe a dumb question, but how do I start a new game?

I tried to delete every savegame in the saves folder and put a new one in there, also changed the filname to one of those autosavegame names.

Everytime it created a new savegame with my old base.
I also stopped the service first... not sure how to do it.
Can anyone help?

thank you,
Nerdodactylus

[2017-03-15 14:09] Bisa commented on #104
Try this:
`factorio new-game <the name of your new game>`
optionally, you can specify the path to a map-gen-settings.json as well (relative to your write dir)
`factorio new-game <the name of your new game> data/map-gen-settings.example.json`

[2017-03-15 16:47] Bisa commented on #43
Introducing the latest headless download option in #105 I've opted for keeping it at that for now.
If you want to "force" a reinstall or update, simply run `rm -rf /path/to/factorio && factorio install`

[2017-03-15 16:47] #43 closed, assigned to Bisa

[2017-03-15 16:48] Bisa commented on #104
@Nerdodactylus - feel free to reopen this issue if you still are unable to create new save games

[2017-03-15 16:48] #104 closed, assigned to nobody

[2017-03-31 14:07] TheEisbaer opened #106 "Can't get it working"
I have CentOS Linux release 7.3.1611
I don't understand the installation instructions.
Can anyone help me?

[2017-03-31 14:13] TheEisbaer commented on #106
Hi,

when I try to install this script at
`  systemctl status -l factorio`

I get the following output:
[code]

[2017-03-31 19:32] Bisa commented on #106
Hi, not sure - did you follow the install instructions outlined [here](https://github.com/Bisa/factorio-init/blob/master/README.md#install)?

(you can also look at the [debugging](https://github.com/Bisa/factorio-init/blob/master/README.md#debugging) section)

[2017-04-01 18:29] BioSLuDge commented on #106
I'm having the same issue.  When I run it with invocation I see the error
"factorio: line 42: LATEST_HEADLESS_URL: unbound variable"

[2017-04-02 09:10] Bisa commented on #106
feel free to reopen if you still have any problems, I hope the debugging and install sections helped you resolve this issue

[2017-04-02 09:10] #106 closed, assigned to nobody

[2017-04-24 18:08] EraYaN opened #108 "Install is broken, the file is of type .xz not .gz"
This file: http://us1.factorio.com/releases/factorio_headless_x64_0.15.0.tar.xz
[code]

[2017-04-24 18:37] EraYaN commented on #108
Apparently if you drop the -z in the options, new tars will auto recognize the archive format.

And add -J for the non-file version.

[2017-04-27 19:10] kitingChris commented on #48
The python updater has an --experimental switch which he (and me) wants to get called.. To switch on experimental version on updating

[2017-04-30 17:47] buson94 opened #109 "Can't start server without generate config.ini through starting the server manually..."
I prepared my server as far as i could with your insctructions but when i do "systemctl start factorio" it exits with a failure. After some time looking for the problem i found out that the config.ini is missing. Because i couldn't generate a .ini through starting the server manually (because it needs the ini first??)... i don't know what to do anymore. Can you help me with the ini please? Hopeful

[2017-05-01 03:13] zackbcom commented on #108
This should fix the issue with xz file types.

[2017-05-01 09:35] #108 closed, assigned to nobody

[2017-05-01 09:47] Bisa commented on #109
Hi, you used to have to "init" the ini-file by starting the server manually, however with the latest addition to the script to install I seem to have omitted that from the readme, sorry =)

Is using `./factorio install` an option for you? Else you can always start the server as the factorio user `sudo -u factorio /path/to/factorio/bin/factorio` and work your way from there.

(let me know if you ru

[2017-05-01 09:50] Bisa commented on #48
@kitingChris is UPDATE_EXPERIMENTAL=1 doing what you expect?

[2017-05-01 22:24] kitingChris commented on #48
Looks like that is it :D
Thanks

[2017-05-01 23:50] buson94 commented on #109
Thanks for your reply :)
I figured it out by myself, that i need to start the factorio file from the factorio/bin/ folder. Everything works now! (That's the first time i set up a game server on my own) Thanks for making this script!

[2017-05-03 00:13] meiamsome opened #111 "Server should automatically start again after an update"
Running the update command will shut down Factorio with a message saying it will be right back, but the script doesn't start the server again.

I think it makes sense for the default behaviour to end up with Factorio in the state it was in prior to script execution (Means updates can be cron'd and such)

[2017-05-10 15:52] sebneira opened #114 "Can't start scenarios"
I may be wrong here, but it seems like I can't start scenarios without having to call the binary directly.

The flag to start a scenario is `--start-server-load-scenario`.

Thanks!

[2017-05-18 19:12] BeanHeaDza opened #115 "map doesn't finish saving when running shutdown -r now"
So I've only recently gotten into this linux thing so there might be something small I am doing wrong, but when I call "sudo shutdown -r now" systemd does not wait for factorio to close gracefully before restarting the system. When I do a "sudo service factorio stop" it runs for around 7 seconds and then stops gracefully (I can see it stop properly by checking the server.out file).

Should I just

[2017-05-28 13:12] Dynamic-Gravity commented on #115
I would append your `~/.bashrc` to something like this:

[code]

That way all you need to do from now on is type `clean-restart` from your terminal.

Once you update your bashrc you will need to reload your shell for it to take effect, so logout, then back in.

[2017-06-18 08:23] dgw opened #116 "players displays list heading after list"
The output of the `players` command is inverted:

[code]

[2017-08-10 18:27] terokorp opened #117 "factorio install and UPDATE_EXPERIMENTAL"
`./factorio install` should follow `UPDATE_EXPERIMENTAL=0` setting too.

[2017-09-18 12:20] BladeRavinger opened #119 "Running server with custon arguments (debian 8)"
I have spent the day trying to get a factorio server running. this script would not download the game so i did it manually and using the script installed from tar.

before that i had to update the username/usergroup from factorio to a user i had created. then changed the install and run DIR from /opt/ to one of my choosing, within the users /home/ dir

my log file is as follows

`   0.023 Program

[2017-09-18 12:21] BladeRavinger commented on #119
server is currently running fine using manual start commands, mounted in screen

[2017-09-28 19:38] bbassie commented on #114
you can change the source,
add this to the case under new-map or something...
[code]
and add a function under start_service(), something like this...
[code]
shouldn't be that hard

[2017-10-14 02:45] dgw commented on #115
From some research I just did, I gather that `systemd` might not wait for this init script to finish because:

1. This is a legacy init script, not a `systemd` unit, so `systemd`'s SysV compatibility generator builds a minimal unit file for this using `ExecStart` and `ExecStop` directives. ([Unix.SE](https://unix.stackexchange.com/a/233581/1414))
2. `systemd` assumes that whatever command is run b

[2017-10-15 19:03] Xiretza commented on #115
@dgw what exactly is wrong with https://github.com/Bisa/factorio-init/blob/master/factorio.service.example? A slightly changed version (different executable paths and group name) is used in my AUR package, and as far as I can tell it waits just fine.

[2017-10-19 02:35] tsaber commented on #114
When I use the script after inserting the code I get `--start-server-load-scenario can't be used together with --start-server-load-latest`

Could you please take another look? I'm not well versed with code.

[2017-12-22 23:18] Bisa commented on #115
Doing some cleaning here, please re-open if anyone still has the same issue.

[2017-12-22 23:18] #115 closed, assigned to nobody

[2017-12-22 23:19] Bisa commented on #111
Sounds like a nice idea, will look into that :)

[2017-12-22 23:21] Bisa commented on #114
Should be possible :)

[2017-12-22 23:25] #109 closed, assigned to nobody

[2017-12-22 23:26] Bisa commented on #116
I take it you would prefer if it was output like so?

[2017-12-22 23:27] Bisa commented on #117
Indeed it should, thnx for reporting this! =)

[2017-12-22 23:28] dgw commented on #116
Right, it's weird that the heading is below the list it describes.

[2017-12-22 23:29] Bisa commented on #119
Not sure if ur still around, if you are and in need of help - feel free to reopen :)

[2017-12-22 23:29] #119 closed, assigned to nobody

[2017-12-22 23:32] #111 closed, assigned to nobody

[2017-12-23 11:02] HildarTheDorf opened #122 "Can't start factorio from systemctl (Ubuntu 16.04)"
Running factorio-init from systemctl gives "Error InterruptibleStdioStream.cpp:54: Reading stdin failed" in the factorio-current.log, killing the server

Running "factorio foreground" manually gives "/opt/factorio-init/factorio: line 238: fg: no job control"

Running "factorio start" manually succeeds

[2017-12-23 11:08] HildarTheDorf commented on #122
Reverting to before the foreground feature was added (i.e. commit add86face82edd4570fe4deab4aa36f8b05b1b4f) works fine.

[2017-12-23 11:41] Bisa commented on #122
oups, that's embarrassing - I was a bit to quick to merge the open requests last night, I'll see if I can fix it and/or revert the change

[2017-12-23 11:43] Bisa opened #123 "Automated Tests"
Since the script has become such a large set of logic I would prefer if it could be tested to ensure quality.

[2017-12-24 02:16] #122 closed, assigned to Bisa

[2018-02-21 19:42] damajor commented on #29
@bluecube  Even if this issue is closed, having Factorio daemon to handle HUP signal and then closing/reopening the log file will ease the setting of logrotate.

This will allow log file rotation without downtime or without logrotate tricks (copy/truncate).

[2018-02-21 21:19] bluecube commented on #29
@damajor I no longer work at wube, so I can't really help you with that. But yes, this sounds like a very reasonable change :-)

[2018-03-31 14:58] simonkurka opened #129 "List cURL as dependency"
As stated above: cURL should be listed as dependency as it is not present in Debian minimal installations. There is no speaking error message. There will be the gzip error fixed in #108

[2018-05-11 18:26] #116 closed, assigned to nobody

[2018-05-11 18:55] #129 closed, assigned to Bisa

[2018-05-21 16:53] tmzasz commented on #123
I would not be 100% sure on how to use it but my research points to this
https://github.com/sstephenson/bats
as being a posible testing suite for automated tests if it helps :)

[2018-05-21 19:08] #117 closed, assigned to nobody

[2018-05-24 19:25] NopeDK opened #132 ""awk" invocation under "send_cmd)" hangs due to "-F" flag on "tail""
As per title, https://github.com/Bisa/factorio-init/blob/20e60dd9b2c1bc15987cf067c73ba16b590195a2/factorio#L273

Solution: remove the "-F" flag.

New problem: If the output of the command is not available at "tail" time, mystical things happen

[2018-08-03 22:22] viztor opened #136 "Super slow to stop server."
It seems to have some problem with the while loop, and even though it's super fast to load, and start, it's extremely slow to stop the server

[2018-08-03 23:34] jadoc commented on #136
Was the server paused when you experienced this issue?

[2018-08-04 18:33] viztor commented on #136
No. Do I need to?

[2018-08-04 18:34] viztor commented on #136
I asked all to quit before I reload, so the server should be automatically paused.

[2018-08-04 22:44] jadoc commented on #136
Ah, in that case, I think case I think this issue is resolved by existing pull request #134 .

[2018-08-04 23:06] jadoc commented on #132
Pull request #134 was meant to fix an issue related to waiting for output when the server is paused, but it also introduces a sleep when output is expected. It's a hack, but may help with this issue. Though, the entire output extraction logic is already a hack, so maybe this is the best that can be done.

[2018-08-07 15:45] chaos234 opened #137 "[Important] Screen Support and config option for PID file"
I looked through the script and where shocked that it isn't using the important screen cmd to give full support for multiple factorio instances.

Also there is no config option to tell where to place the PID file which is also horrible!

I use the following structur:

--|userdir/
----|init/
------|fN/ (PID folder per instance)
------|configN (config per instance)
------|factorioN (startscript per

[2018-08-25 20:37] tmzasz commented on #137
Dont really see this as an issue this script isint meant for multiple servers its meant to run a factorio server as a service ( which also explains the reason screen is not included ) not be a multi server control script. Also the kill cmd works fine this is linux after all not windows the server is designed to take ctrl^C or kill for shutdown as is MOST linux/unix software, some research on this

[2018-11-10 03:52] Kilandor commented on #114
I was able to get this to work after making this change to the above code
`if ! start_service_scenario ${scenarioname} "${mapgen}"; then`

[2018-11-11 10:58] Bisa commented on #114
@Kilandor - feel free to submit a pull request of your changes if you have the time for it :)

[2018-11-11 11:10] #136 closed, assigned to nobody

[2018-11-11 11:11] Bisa commented on #132
it's a hack indeed, if I come around to looking at this I hope the third invocation of this script will be better ;)

[2018-11-11 11:11] #132 closed, assigned to nobody

[2018-11-11 11:14] Bisa commented on #137
@tmzasz alreayd gave ample explanations ;)

That said, @chaos234 if you want to contribute changes to the project in order to make this script easily run N instances, please feel free to do so - I've had it in mind some time now but never got around to actually fix it since I mostly just ran one instance at a time.

[2018-11-11 11:14] #137 closed, assigned to nobody

[2018-12-24 06:03] jhawkwind commented on #123
Also, if there was a defined subset of *nix "flavors" to target these tests, it would help narrow the field of work, both from a testing perspective and a development perspective.

I would suggest targeting:
* Ubuntu
* CentOS

I don't know if there are any other flavors that are more common than those two among the Factorio community? Also, might want to look at https://travis-ci.com/ integration

[2018-12-28 03:52] jhawkwind opened #139 "New-game will fail with no custom settings but custom GLIBC"
If you are using an alternate GLIBC and you fail to specify either **map-gen-settings** OR **map-settings**, the game will not generate and fail with the following error message:
[code]
This is because in the new-game routine, when you specify either of those settings, it adds the variable `${EXE_ARGS_GLIBC}` at the end, but if you select neither, the variable does not get added and just goes stra

[2019-01-08 09:43] futureweb opened #141 "running multiple Maps on Centos 7 with alternative glibc 2.18"
Hey there,
I would like to host several Maps on my Factorio Server (running Centos 7 with alternative gllibc 2.18).
Is this somehow possible with this Init Script?
thx, bye from Austria
Andreas Schnederle-Wagner

[2019-01-19 15:11] cluelessperson opened #142 "tarballs aren't provided in gzip format (anymore?)"

[2019-02-26 22:56] tmzasz commented on #141
this script sadly was not designed to run multiple maps its intended to be a single server automation script. That being said its not "impossible" just some extra work would be involved. You would have to have multiple copies of the script in different folders and then modify the service files to target the different scripts

PIDFile=/opt/factorio/server.pid

Type=forking
TimeoutStartSec=20
ExecSt

[2019-03-08 08:15] tmzasz commented on #142
is this a question, statement, or error? you need to provide some meat with the potatoes please.

[2019-03-10 22:57] Valkyrien04 opened #144 "./factorio update does not follow UPDATE_EXPERIMENTAL"
server will not update off .17.4 despite the latest version being .17.9 and UPDATE_EXPERIMENTAL=1

[2019-03-10 23:05] Valkyrien04 commented on #144
nevermind, its an issue with the updater script https://github.com/narc0tiq/factorio-updater/issues/45

[2019-04-07 20:02] EraYaN opened #145 "Started server after update while using systemd does not get discovered by systemd."
So after an update, the server is restarted, and this causes systemd to "lose" sight of the server.

It would be great if the script would call systemd/systemctl for starting and stopping when systemd is in use.

[2019-04-09 08:57] Hovel87 opened #146 ""Waiting for child process to exit""
After trying to manual update from 0.16.51 to latest 0.17, I can't get my server to work again. After starting the service I get this:

factorio-init log doesn't help me either:

[code]

[2019-04-09 13:37] Hovel87 commented on #146
Issues is solved. Log file server.out in factorio folder pointed to unexpected parameter in server-settings.json file line 62. Turnout I forgot to use quotes for assigning admins.

[2019-04-18 11:54] tmzasz commented on #145
sounds like you did not follow the setup instructions?

Remember to enable the service at startup if you want that:
$ systemctl enable factorio

[2019-04-18 11:56] tmzasz commented on #144
yes they somehow broke their own updaters during .17's early releases too

[2019-05-05 20:27] EugeneRymarev opened #147 "Few factorio servers. Specify config filename on start server."
Hello, Bisa!
Please add parameter "config file path/filename", like
`factorio start config_X`

[2019-05-26 01:18] tmzasz commented on #147
this is already established in the init script config.example line 25
SERVER_SETTINGS=${FACTORIO_PATH}/data/server-settings.json
you can override this easily would be kinda redundant to add it as a parameter

[2019-05-26 03:11] #147 closed, assigned to nobody

[2019-05-26 03:11] #146 closed, assigned to nobody

[2019-05-26 03:12] #139 closed, assigned to nobody

[2019-05-26 03:13] Bisa commented on #142
feel free to elaborate @cluelessperson

[2019-05-26 03:13] #142 closed, assigned to nobody

[2019-05-26 03:13] #144 closed, assigned to nobody

[2019-06-01 14:06] EraYaN commented on #145
My excuses for my long pause in response.

@tmzasz This has nothing to do with the issue at ALL.

This is purely that systemd can not discover processes that it it self did not start. So the status reporting breaks when the script runs the update and restarts the server, the systemd marks the unit as failed.

[2019-06-09 02:37] filter-visor opened #149 "Option ‘server-adminlist’ does not exist"
Hi there. I was just rolling a new headless ubuntu VM (ubuntu-19.04-live-server-amd64) to host a save-game of mine with some friends. I have followed the instructions to the best of my ability and checked multiple times that I am doing everything correctly. I appear to have stumbled upon an issue. Here is what it looks like.

I did as the debug section suggested and turned on debugging and then ru

[2019-06-10 06:11] Xiretza commented on #149
Are you still on 0.16? This is due to https://github.com/Bisa/factorio-init/pull/143, which apparently just assumes everyone is on experimental already. Either upgrade to 0.17 or edit out the option in the invocation inside `/opt/factorio-init/factorio`:

[code]

[2019-06-10 16:57] filter-visor commented on #149
That did the trick, thanks! When I get our group to move to .17 I will be sure to re-add the line. Thanks again.

[2019-06-10 16:57] #149 closed, assigned to nobody

[2019-06-15 19:21] Bisa commented on #145
if there's a way around this - please let me know, else I'm inclined to simply state it as a known issue and advice ppl to use systemctl restart after a update or something.

[2019-06-15 20:30] EraYaN commented on #145
To solve this issue, I started to look into redoing this script in python3 and supporting sdnotify properly. This way it would be systemd native and the update task could be a systemd timer based task as well.

I got some part of the way, but then life called. Essentially, it could also be done with this script, though I think it might complicate things a bit, since this would mean extra configura

[2019-06-15 22:21] tmzasz commented on #145
main issue with python3 is centos/redhat and their derivatives ship with 2.7 so you would have to reduce to at least 2.7 for centos/redhat support ( safe to estimate 50% or more of linux servers run some form of centos/redhat ) otherwise its another side by side install ( the glib issue ) that redhat/centos users would have to do which isint something this script does or should automate so it woul

[2019-06-15 22:25] tmzasz commented on #145
also systemd losing "sight" of the factorio server is not that big an issue as it still "sees" the init script (the script run by systemd). so for the scope of the script i personally wouldn't worry about it but its up to Bisa to determine if it should or shouldent.

[2019-06-15 23:46] EraYaN commented on #145
Well I for one feel like python2.7 should just be left to die, I know some guys really love it and want to keep maintaining it, but python3.6 is available as default on RHEL/CentOS 8 I believe, although no python is bundled at all. But I would really only run this on Debian/Arch derivatives anyway. Plus Windows (Server) and macOS for when I'm on the go. So I abstracted the service manager interact

[2019-06-17 04:40] tmzasz commented on #145
still seems like this is over complicating the issue. systemd dosent start/stop/restart the factorio server the init script does which is what systemd starts/stops. to have the server respond to systemctl commands directly would need wube to implement a systemd library for it but the systemd integration is to restart the server on a BOX reboot not to be used to control the server itself the system

[2019-06-19 14:17] EraYaN commented on #145
As you can see in the status reports I posted, the init script is not running after the server is started, it quits after starting the server. As I mentioned this is because the `Type=forking` line in the systemd unit.

[2019-06-22 07:07] ericljiang commented on #149
Not sure this issue should be closed since factorio-init installs stable by default yet expects experimental parameters upon invocation. This means that the current workflow of `git clone ...` ->`.../factorio install` -> `.../factorio start` is broken.

[2019-07-05 18:09] jajmo commented on #122
This is occurring now on Ubuntu 18.04, running Factorio 0.17.54.

The symptoms are exactly the same as Hildar described.

[2019-07-06 16:37] ghost commented on #149
Ai. I came here, because i had the same issue. Please mark this in your readme.

[2019-09-06 02:35] Elad420 opened #150 "Experimental=1 not working as I expect"
I have cloned the factorio-updater repo to the /opt directory set the path to "/opt/factorio-updater/update_factorio.py" in the factorio-init config and set the UPDATE_EXPERIMENTAL=1  this is what that looks like
`HEADLESS=1`
`UPDATE_USERNAME=<MY USERNAME HERE>`
`UPDATE_TOKEN=<MY TOKEN HERE>`
`UPDATE_EXPERIMENTAL=1`
`UPDATE_TMPDIR=/tmp`

But when try to update to the experimental this is what I ge

[2019-09-06 02:41] Elad420 commented on #150
I'm using Ubuntu Server 18.04

[2019-09-06 03:47] Elad420 commented on #150
Don't actually know if it is your script it seems like going from 16.51 to 17.xx is just not possible and I had to do a manual install to test I went to 17.41 and from there updates worked flawlessly.

[2019-09-06 03:47] #150 closed, assigned to nobody

[2019-09-10 23:11] douira opened #151 "Error when starting with systemd - failed to start service"
When I run `systemctl start factorio` I get this error:
[code]
I'm running Ubuntu 18 so I followed the steps for `systemd`. I created a factorio user with `adduser factorio` beforehand.

[2019-09-11 21:56] douira commented on #149
Thanks, this was driving me crazy for a few hours. Maybe it would be a good idea to not use experimental features if no experimental version is downloaded by default? That makes this project broken by default which is undesirable.

[2019-09-14 17:37] Tantrisse opened #152 "Factorio Mod Manager integration"
Hi guys !

I'm currently using Factorio-Init and Factorio-Updater and I love the integration of Updater in Init.

But a feature I missed hard was Mod management.
I love to play mod, and managing mod on headless is pain in the ass (tedious updating, enabling / disabling....), so I wrote my own script to manage mods ( https://github.com/Tantriss/Factorio-mods-manager ).

I would love to have it inte

[2019-09-16 00:58] wli commented on #151
I just ran into this, and had to debug this following the debug instructions. This is because `--server-adminlist` is no longer a valid option (not sure as of which factorio version).

[code]

Workaround: remove the `--server-adminlist ${ADMINLIST}` arg in https://github.com/Bisa/factorio-init/blob/8a78316fc6c04c533a931f260a244054f42a963c/factorio#L126 locally, and try again.

[2019-09-28 06:29] tmzasz commented on #151
so your problem is the command exists but you need to point it to an actual file if the file does not exist it throws the error they could be a little bit clearer with the error message but --server-adminlist FILE is a legit command line arg
https://cdn.discordapp.com/attachments/251934092306677760/627391604399013898/unknown.png

[2019-10-09 13:44] DIYglenn opened #153 "[BUG]"
**Describe the bug**
factorio autocomplete wouldn't work
**To Reproduce**
Steps to reproduce the behavior:
Follow readme and install script

**Expected behavior**
Writing "factorio" in shell and double-clicking tab should autocomplete, but didn't.

I had to run the following command to make it work:
`sudo ln -s /opt/factorio-init/factorio /usr/local/bin/factorio`

[2019-10-26 05:54] tmzasz commented on #153
the instructions give you the steps to add autocomplete to your install

Autocompletion

    Copy/Symlink or source the bash_autocompletion file

ln -s /opt/factorio-init/bash_autocomplete /etc/bash_completion.d/factorio
OR:
echo "source /opt/factorio-init/bash_autocomplete" >> ~/.bashrc
restart your shell to verify that it worked

keep in mind if this does not work you may need to install bash_co

[2019-11-11 07:26] Chaoschaot232 opened #155 "[BUG] Script does not start in Screen session"
Not sure why, but it is horrible, that the script does not use screen to have the ability to look what is going on in the console.

Means now, that I must use the old pice of code to have it in a screen session.

Not sure, why this bug wasn't fixed from the hole beginning as screen is not hard to install or to use.

Please fix this, thanks.

[2019-11-20 08:51] DIYglenn opened #156 "[BUG]"factorio update" will only update one version, but not multiple"
**Describe the bug**
I've added the update script, but it doesn't seem to work when there are multiple updates. Between the last two stable updates I've had to update manually. It applies the first update, but does not continue. An example is that we now went from 0.17.74 to 0.17.79.
"factorio version" shows it has only been updated to 0.17.75 (so the script did work) but then won't apply the rest

[2019-12-03 14:43] Oscar-Rod opened #157 "[BUG] Can't launch the server because it points to a wrong directory."
The script fails to start the server.

To reproduce the issue just try to start any server. It will fail because on [this line](https://github.com/Bisa/factorio-init/blob/71680878875b8eda4dcb6d25536e12ddf19b0393/factorio#L107) because the WRITE_DIR points to a wrong directory. I tried this in ubuntu 18.

To solve the issue I modified the line to:

WRITE_DIR="/opt/factorio"

[2019-12-03 14:48] Xiretza commented on #157
What's the contents of your `$FCONF`, specifically `write-data=`?

[2019-12-03 15:19] Oscar-Rod commented on #157
Actually, if I just execute `service factorio new-game test1` it works.

However, if I execute `service factorio new-game test1 map-gen-settings.json map-settings.json` it doesn't. The error message I get is `Specified map gen settings json does not exist`.

But the file /opt/factorio/data/map-gen-settings.json exists.

`WRITE_DIR` takes the value `/opt/factorio/bin/x64/../..`
write-data in `$FCON

[2019-12-03 16:01] Xiretza commented on #157
As you can see [here](https://github.com/Bisa/factorio-init/blob/master/factorio#L658), the script tries to read the files you pass relative to your `$WRITE_DIR`. Specifying `map-gen-settings.json` would in your case result in `/opt/factorio/map-gen-settings.json`. If you want it to use a file in a subdirectory, specify it:

`service factorio new-game test1 data/map-gen-settings.json data/map-sett

[2019-12-03 16:09] Oscar-Rod commented on #157
You are right, this solves it. Thank you!

[2019-12-03 16:09] #157 closed, assigned to nobody

[2020-02-03 07:25] WACAptain opened #158 "Raspbian doesn't recognise Factorio as a directory"
When trying to install factorio on Raspbian under /opt/factorio-init, all that gets returned is "-bash: cd:/ factorio: No such file or directory". Using the dir command shows it there though.

Edit: I was being dumb.

[2020-02-03 16:58] #158 closed, assigned to nobody

[2020-02-14 22:29] ryanmortier commented on #153
I have the same issue. Brand new install of Ubuntu 18.04. Followed the instructions exactly. Tried both the symlink and the ,bashrc file but it doesn't work. bash-completion is installed already. Not sure how to debug or troubleshoot this.

[2020-02-20 10:04] DIYglenn commented on #153
Did you try the command I used?:
`sudo ln -s /opt/factorio-init/factorio /usr/local/bin/factorio`
This did solve it for me.

[2020-02-20 21:37] ryanmortier commented on #153
Yes that's what I ended up doing and it's working.

[2020-02-26 05:56] cybersteel8 commented on #151
That workaround to remove the command from the invocation wouldn't be required if you put in your `factorio-init/config` file an entry named `ADMINLIST`.
An example that I used:
`ADMINLIST=${FACTORIO_PATH}/server-adminlist.json`

[2020-02-28 18:12] Bisa commented on #155
I've consciously moved away from screen - you can tail the logs or run the  "cmd"-command to interact with the running process.

It's not a bug, it's a feature ;)

[2020-02-28 18:12] #155 closed, assigned to nobody

[2020-02-28 18:22] #153 closed, assigned to nobody

[2020-02-28 18:24] Bisa commented on #152
@Tantrisse - love the idea! :)

[2020-02-28 18:28] #114 closed, assigned to nobody

[2020-02-28 18:29] #141 closed, assigned to nobody

[2020-02-28 19:19] #151 closed, assigned to nobody

[2020-02-28 19:22] Bisa commented on #156
On a fresh install of stable, I just changed it to experimental and updated from 0.17 to the latest 0.18 without issues - @DIYglenn if the issue still persists, please re-open the bug.

[2020-02-28 19:22] #156 closed, assigned to nobody

[2020-02-28 21:22] #145 closed, assigned to nobody

[2020-02-28 21:25] Bisa commented on #145
@EraYaN - I opted to allow you guys to choose if you want to use the automatic restarts or not, by default the script will just restart - but setting UPDATE_PREVENT_RESTART=1 will force you to handle the start/stop logic elsewhere.

[2020-04-04 17:11] rmbleeker opened #161 "Missing opening bracket"
https://github.com/Bisa/factorio-init/blob/022fe4368de85c2fddd34b0590d70f0197efba9a/factorio#L489

A `[` is missing in this line.

[2020-04-06 14:45] #161 closed, assigned to Bisa

[2020-04-06 18:42] Bisa commented on #123
note to @Bisa - remember to adjust the default tests to run on "latest" factorio, not some hard coded default.

[2020-04-26 23:11] Deffie6 opened #163 "Need some help with standalone server"
Hello,

I`m new on this so sorry for maybe the wrong question or not read the whole story.

I have a linux dedicated services running, but i don`t understand how your script excacly works.
Did not install factorio on the server, I just downloaded the headless server and stored the executeable file in the home dir.
This is like this :

/home/factorio/Services/Factorio_a/
# here I put all the files.

[2020-04-27 21:30] Bisa commented on #163
Hi, did you rename the "config.example" to just "config" yet?
(that's the file where you change most of the settings/paths etcetera, if you need more debug output that's where you enable debugging)

Once you have that sorted, try running:
/path/to/factorio-init-script/factorio start

[2020-04-27 21:59] Deffie6 commented on #163
And where must the config.example be in? can`t find it.
As i said, i didn`t install the game on my server.

[2020-05-06 18:24] Bisa commented on #163
You will need to download this script, and the config.example file to start with.
Then, if you want the script to install for you, try the install option - or manually download and unpack the server from factorios official page.

To get you started, try:
- cloning this repo to your /opt folder
  `cd /opt && git clone https://github.com/Bisa/factorio-init.git`
- copy the example config
  `cp config

[2020-06-07 18:16] jgradzki commented on #163
Hi, can you explain to me how can i have both file and directory named "config" on linux? :)
Directory is generated by server.

I started server with "standard" way, but i see configuration is now from data folder so i guess i can delete config folder, but anyway i changed "config" file name (in script too)

[2020-06-09 16:57] Bisa commented on #163
@jgradzki
I'm afraid you cannot have two items in the same location on most unix filesystem (if not all?) with the same name.

The config (a directory) generated by the server: [factorio install dir]/config
The config (a file) used by my init script needs to live next to the actual init script, as suggested by most guides: /opt/factorio-init/config

If you installed my script in the [factorio inst

[2020-09-02 17:48] #163 closed, assigned to nobody

[2020-11-15 15:50] #152 closed, assigned to nobody

[2020-11-20 23:37] Bisa commented on #123
With the release of 3.0.0 I'll retire this ticket, while tests are not automatic they are at least introduced into the repository and can be built upon going forward.

[2020-11-20 23:37] #123 closed, assigned to nobody

[2020-11-23 22:11] mrogghe opened #168 "No such command! when passing multiple command line arguments"
Command like so:
factorio new-game vgw1 data/map-gen-settings.free1.json data/map-settings.free1.json

Results in the script erroring out with "No such command!" error.

[2020-11-23 22:15] mrogghe commented on #168
Line 785 of the script:
load_config "${config_file}" "$*" || return $?

Change the $* to $@
load_config "${config_file}" "$@" || return $?

This allows for the array to be passed instead of the positionals translated as a string.  The script properly identifies the command being run with this change.

[2020-11-24 23:23] #168 closed, assigned to Bisa

[2020-12-02 04:49] nick4333 opened #170 "Integrate @astevens mod updater"
@astevens mod updater works nicely and I was wondering if there could be some integration into factorio init, similar to how @narcotiq has made a factorio update script that has been integrated into the factorio init script.

[2020-12-02 17:58] Bisa commented on #170
https://github.com/Tantrisse/Factorio-mods-manager.git is already integrated, see "./factorio mod help" - for now that's sufficient imo, but feel free to suggest adaptions/changes as you see fit :)

[2020-12-02 17:58] #170 closed, assigned to nobody

[2020-12-08 04:39] idprism opened #171 "step by step instructions should mention requirements"
both curl and wget are called from the factorio script, however, when attempting `factorio install` i simply got warning "unable to download & cache" without any mention of why. never expected to have to install wget, since it wasn't mentioned anywhere.

would be nice to get a double-check step in there like:
* sudo dnf install curl wget bash-completion

[2020-12-09 11:22] Deffie6 opened #172 "Start the services gives this issue"
factorio@FS-Master:~$ systemctl start factorio
==== AUTHENTICATING FOR org.freedesktop.systemd1.manage-units ===
Authentication is required to start 'factorio.service'.
Multiple identities can be used for authentication:
 1.  factorio,,, (factorio)
 2.  Alex,,, (outsider)
Choose identity to authenticate as (1-2): 1
Password:
==== AUTHENTICATION COMPLETE ===
Failed to start factorio.service: Unit f

[2020-12-12 21:12] GsakuL opened #173 "make subcommand 'mod' respect mod-managers flags (like '--downgrade')"
Factorio: 1.0
FNEI has to be installed with `--downgrade` since there is no explicit 1.0 version of the mod
[code]

[2020-12-18 16:10] Tantrisse commented on #173
Hi, just saw this issue and made a PR to fix it.

[2020-12-26 18:43] #173 closed, assigned to Bisa

[2021-01-22 09:37] LukevanTricht opened #175 "Doesn't work for Factorio Headless server 1.0.0"
I'm trying to use this to set up a new Factorio server, and it's reporting an error on `./factorio install`

[code]

[2021-01-30 00:16] ErikEvenson commented on #175
Are you running as the user you setup in config?  Does that user have write permission?

[2021-01-31 01:10] LukevanTricht commented on #175
Yes and Yes.

I'm not sure if it was something on WUBEs end, or something wrong with the specific 1.0.0 archive, but I just ran it again to grab the exact environment/commands etc for you, and it worked with the 1.1.19 server files.

[2021-01-31 01:10] #175 closed, assigned to Bisa

[2021-02-05 21:35] tmzasz commented on #171
I can see wget not being installed as a oversight but most if not all *nix distros usually come with some version of curl

[2021-02-05 22:05] idprism commented on #171
@tmzasz if you're going to ensure one why not ensure the other? There's no reason to avoid asking the package manager to verify that it is installed if it's a dependency. Anyway, thanks to Bisa for getting it done. Much appreciated.

[2021-02-05 22:16] tmzasz opened #179 "commit df9190f removed SERVER_SETTINGS from the config"
SERVER_SETTINGS=${FACTORIO_PATH}/data/server-settings.json
from the config.example file forces server-settings.json to always reside in /data when some people ( myself being one :P ) like to round up our configs in a /config/ directory

[2021-02-05 22:42] tmzasz commented on #171
not saying its a bad idea just mentioning the fact listing curl as a requirement is kinda redundant as most have it ( there are exceptions to this on some distro's though)

[2021-03-27 16:16] #171 closed, assigned to Bisa

[2021-03-27 16:27] Bisa commented on #172
You need to run systemctl as a user that has access to do so, try running systemctl as root or with sudo.

[2021-03-27 16:27] #172 closed, assigned to Bisa

[2021-03-27 16:27] Bisa commented on #179
fixed in #182 ;)

[2021-03-27 16:27] #179 closed, assigned to nobody

[2021-04-02 04:52] tmzasz opened #185 "runaway cat on fifo file when factorio stop is issued"
when issuing factorio stop the tail on the server fifo gets replaced with a runaway cat that sits there using ram doing nothing on the root user
https://cdn.discordapp.com/attachments/627326922573086730/827397634355757057/unknown.png

[2021-04-22 02:05] montematico opened #187 "No permissions to write to /opt/ when using install option"
when running `./factorio install` errors and returns `Aborting install, unable to write to '/opt/factorio'!`. Running as sudo does not help.

[2021-05-11 22:37] buson94 commented on #187
You have to create the directory first and since you also seem to have the user "factorio" created beforehand as well, i would recommend running `sudo adduser factorio --home /opt/factorio` in your case (at least if you're running Ubuntu as well). The next thing that seems problematic is that Ubuntu creates default files in the home directory, so either deactivate the "Prevent accidential overwrit

[2021-06-01 10:35] YagaoDirac opened #188 "Some pingpong server don't respond. And the server is not visible in game list."
No idea if this is caused by instability or some other problems.
The server works properly until we decide to restart it yesterday with a new save file. The save file is created with my new scenario. I don't know if the update in the scenario causes the problem. I tried a very vanilla freeplay save file, it failed too.

[2021-06-16 19:48] Bisa commented on #188
Hey, what happens if you start the server manually? (without this startup script)

[2021-06-16 19:58] Bisa commented on #187
Appreciate the insight @buson94 :)

Please, if you want to I'd be happy if you could elaborate on the things you mentioned in a separate/multiple separate tickets.
For example "When installing, the script should make sure to do X".

<3

[2021-06-16 20:01] Bisa commented on #187
@montematico did @buson94 's suggestions help you get the server installed or did you solve it in any other way?

(who owns the /opt/factorio directory, to help me debug this further - please provide the output of `ls -alsh /opt/factorio` and `whoami`)

[2021-06-16 20:07] Bisa commented on #185
Which system are you running this on?
The code was introduced to fix another problem , see [d601a6082c4eccef07909f5d1c90dd7942c4518c](https://github.com/Bisa/factorio-init/commit/d601a6082c4eccef07909f5d1c90dd7942c4518c)

Before I can accept the PR you made I'd need some test coverage to ensure the original issue does not return.
#helpwanted - or I'll get around to writing them myself at some poin

[2021-06-16 21:33] tmzasz commented on #185
ok so the system is CentOS Linux release 7.9.2009 (Core) using kernel 4.9.178
Yea i saw that but the issue it seems is the intended stop to the pipe does not actualy stop the pipe like it should as the opening cat ${FIFO} & command seems to prevent it from closing with the echo commands ( it still hangs ). Removing the cat ${FIFO} & part seems to allow the echo to properly close the cat.

[2021-06-19 16:47] buson94 opened #189 "Add feature that creates user&folder"
As requested by @Bisa i'll open a new issue for this ☺ It's been a month now but i'll try to recreate what i wrote down in [this issue](https://github.com/Bisa/factorio-init/issues/187).
Info beforehand: I'm using headless Ubuntu 20.04.2 LTS

It seems like the script doesn't create the directory for installing the factorio server, neither a seperate user. So what i did first was: `sudo adduser fac

[2021-11-03 01:46] tmzasz commented on #185
so from what I can gather so far the fix does stop the run away cat on my machine ( tested through several factorio stop and box reboots now ) i think the manual startup of the reader is not necessary in this instance because the FIFO is already being tailed in the start_service() function on line # 319 and is just serving to open a second reader which results in a runaway cat

[2021-11-03 01:56] tmzasz commented on #189
My 2 cents :
have the script check to see if both the user/directory exist
if the user does not exist prompt for creation - If yes then create the user with the -M flag ( this prevents a home directory at all )
if the directory does not exist (assuming script run as either root/sudo) create and then chown the directory to the new user and then proceed with the install

adding the user with -M will

[2021-11-25 16:39] fellnerse opened #190 "Integration with updater"
I tried to use the `factorio update` command with [this](Integration with ) repository but could not get it to work.
The problem always is that somehow your script overwrites the `UPDATE_SCRIPT` env variable with `/path/to/update_factorio.py` and then can not find the script. also your test if the variable is set is not correct imho. It should be
[code]
instead of
[code]
I tried to even set the va

[2022-01-18 23:01] evanj97 opened #191 "Failing to save correctly on shutdown when shutdown takes over 15 seconds. Leaves corrupt/incomplete save file behind."
Script timeout when shutting down is 15 seconds.  On slower machines with large save files, saving and shutting down takes over 15 seconds.  This results in the process being killed mid-save, leaving behind a `_autosave2.tmp.zip` file.  Next time server is started, Factorio attempts to load the most recent save in the `saves` folder, which is the corrupt/incomplete file, which causes Factorio to f

[2022-01-23 18:39] NovaPhoenix opened #192 "Systemd serivce times out on Fedora 35"
Hi, when using the provided systemd service file modified for my installation I always get this as output:
`Job for factorio.service failed because a timeout was exceeded. See "systemctl status factorio.service" and "journalctl -xeu factorio.service" for details.`
It starts the game server then 20 seconds later after the timeout shuts it down.
Journalctl output: https://gist.github.com/NovaPhoenix

[2022-03-09 03:07] MisterPhilip opened #194 "Missing Content-Disposition header causes install script to fail"
It appears that one of the headers that was used to grab the file name no longer exists from the download URLs.

When running install (or update, if manually installed), this is the output:
[code]

Running curl against the latest URL these are the headers returned:
[code]

It looks like the code is expecting `Content-Disposition`, which doesn't exist anymore.
https://github.com/Bisa/factorio-init/

[2022-03-13 09:12] SirDragonClaw opened #195 "Combatibility issue with WSL2/Ubuntu"
Hey I have been trying to install this for the last hour or so and have gotten past a few issues but it still wont install. I have it failing to extract the archive now.

If anyone can make sense of this that would be great, or perhaps it is an issue with the script?

`daniel@DanStudy:/opt/factorio-init$ bash factorio install
Aborting install, unable to write to '/opt/factorio'!
daniel@DanStudy:/o

[2022-03-15 23:13] SirDragonClaw commented on #195
I have just confirmed that all the same issues happen with a raw install of ubuntu on metal.

[2022-03-22 23:08] ask-compu commented on #195
same problem on a fresh linode ubuntu 20.04 server

[2022-04-03 23:06] imakiro commented on #194
@MisterPhilip hi, by any chance, did you find a workaround ?

[2022-04-04 16:09] MisterPhilip commented on #194
@imakiro - I did not; I ended up installing Factorio directly from the tarball (https://www.factorio.com/get-download/stable/headless/linux64)

[2022-04-06 16:38] imakiro commented on #194
Ok, thanks to @greenblood , I fixed it in my branch : https://github.com/imakiro/factorio-init/tree/fix-install
relevant code part : https://github.com/imakiro/factorio-init/commit/f1448f470167a4697a0c57a6dc5b6f39f1f34db1

[2022-04-09 23:09] Legrems commented on #194
Hello, i will make a PR using the api to fetch the latest release:
https://wiki.factorio.com/Download_API
https://factorio.com/api/latest-releases

(something like this)
![image](https://user-images.githubusercontent.com/22106016/162594566-66a40813-417c-4fc2-862e-39f980b83852.png)

[2022-08-21 20:52] #194 closed, assigned to nobody

[2022-08-21 21:01] #191 closed, assigned to nobody

[2022-08-21 21:06] Bisa commented on #192
'fraid I'm not super used to systemd - but what user is trying to open the pidfile? and can you confirm that the pidfile exists within 20 seconds of starting the service?

[2022-08-21 21:07] #188 closed, assigned to nobody

[2022-08-21 21:37] Bisa commented on #190
Hi, a bit of a late reply - but did you try to set the path in your config file? (that's the only place where this script sets the value of this variable), also, the check is not for the variables existence - it checks to make sure the script at the path exists and is executable "-e".

Feel free to re-open this if you still have the same problems after setting the path in your config file :)

[2022-08-21 21:37] #190 closed, assigned to nobody

[2022-08-21 21:40] #187 closed, assigned to nobody

[2022-08-21 21:42] Bisa commented on #195
should be closed by #198 - please give it a whirl if you are still looking to use this script :)

[2022-08-21 21:46] #195 closed, assigned to nobody

[2022-08-21 21:50] Bisa commented on #189
Having pondered this for a bit I figured I'll rather not increase the scope of the install command further - for now I'll try to err on the side of caution, give me an empty directory that root or the "factorio" user can write to, should be simple enough for anyone using a nix shell these days :)

[2022-08-21 21:50] #189 closed, assigned to nobody

[2022-08-30 07:03] fellnerse commented on #190
I'm not using this anymore so can not tell

[2022-10-27 05:27] #185 closed, assigned to nobody

[2022-10-27 05:37] tmzasz opened #199 "Runaway cat on factorio stop"
Re creation of #185 as my repo was messy as all crap sorry.

Once you run the command factorio stop the tail -f that is attached to the server.fifo becomes a idle runaway cat attempting to read the fifo while the server is offline. This is not desirable behavior as this cat is doing nothing just reading a pipe that has stalled. as of the current commit when this issue was opened the offending line

[2022-10-27 05:54] tmzasz commented on #199
Upon looking at the issue a bit more in depth i have to wonder what 362 is actually doing in the first place
https://github.com/Bisa/factorio-init/blob/8e252753931b2ee9cc96239f6cca9f6f4f96eb60/factorio#L361-L368
as it seems to be not needed as the tail closes successfully on its own due to 364-368 and earlier on in start_service the fifo is recreated anyways
https://github.com/Bisa/factorio-init/b

[2022-10-29 17:19] Bisa commented on #192
if anyone else runs into this - feel free to help out debugging (either ping me here or open a new issue)

[2022-10-29 17:19] #192 closed, assigned to nobody

[2022-10-29 18:13] #199 closed, assigned to nobody